<% provide(:title, "Forgot password") %>
                        
<div class="container">
<div class="row middle">
    <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-3">
      <h2><%= t(:label_forgotPassword) %> </h2>
      <hr class="colorgraph">
      
    
<%= form_for(:password_reset, url: password_resets_path) do |f| %>

          <div class="input-group form-group">
           <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <%= f.email_field :email, class: 'form-control',placeholder: 'Email address', type: 'email', required: '',id: 'exampleInputEmail2' %>
          </div>
          
                    
          <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        
    <% end %>       
 </div>
</div>
</div>