<% provide(:title, 'Edit user') %>
<% provide(:title, 'المعلومات الشخصية') %>
<% provide(:button_text, 'ﺣﻔﻆ اﻟﺘﻌﺪﻳﻼﺕ') %>

<div class="mainTitle">
<h2>اﻟﻤﻌﻠﻮﻣﺎﺕ اﻟﺸﺨﺼﻴﺔ</h2>
</div>
<%= render 'edit', user: @user %>
