<div class="mainTitle">
  <h2>  <%= @title %> </h2>
</div>
<div class="main">
	<div class="shell">
		<header class="section-head">
                <h2 class="section-title pull-right">
                	 linkO يسهل عليك الوصول الى الأفكار , الأخبار العاجله , العروض,... وغيرها ، من مصادر متعدده فى مكان واحد فقط .                 

                	 <br>
                	 مهمتنا مساعدة المجتمع العربى من استكشاف العالم الذى يعيشون فيه , وتمكين مجتمعنا من الإزدهار.
                </h2>
            </header>

	</div>
	
</div>
<br>

<!-- <div class="main row">
  <div class="col-md-6 col-md-offset-3">
  <%= image_tag('favicon.ico', alt: 'Image',class: "img-circle img-profile" ) %>
  <%= image_tag('favicon.ico',  class: "logo-img-2 ") %>
  	</div>
  </div> -->
 <div class="container" >
	<div class="row">
		<div class="col-md-4">.col-sm-4</div>
	  	<div class="col-md-4">.col-sm-4</div>
	  	<div class="col-md-4">.col-sm-4</div>
	</div>
</div>
