<div id="link-desc" class="infobar">
	<h2>
ﻧﺸﺮ ﺭاﺑﻂ, اﻟﻤﻔﺘﺎﺡ ﻟﻨﺸﺮ ﺭاﺑﻂ ﻧﺎﺟﺢ ﻫﻮ اﻟﻤﺤﺗﻮﻯ اﻟﺠﺬاﺏ ﻭﻋﻨﻮاﻥ ﺫﻭ ﻭﺻﻒ ﻣﺜﺎﻟﻲ.
</h2>
</div>
<br>
<div class="mainTitle">
<h2>ﻧﺸﺮ ﺭاﺑﻂ</h2>
</div>
<%= render 'form', link: @link %>
