
  <div class="ProfileTemplate__body">
      <div class="ProfileTemplate__content">
        <div class="itemsList">
          <% @links.each do |link| %>
          <div id="link_id_<%= link.id %>" >
            <%= render 'shared/link_row' ,link: link %>
            </div>
          <% end %>
          </div>
      </div>
