  <div id="follow_form" >
    <% @category = category %>    
  <% if logged_in? %>
    <% if current_user.isfollowingCat?(@category) %>
      <%= render 'categories/cat_unfollow' %> 
    <% else %>
      <%= render 'categories/cat_follow'  %>
    <% end %>
  <% end %>
  
  
  </div>
 

