
<p id="notice"><%= notice %></p>

<div class="container"  >      
  <% provide(:title, t(:label_categories)  ) %>
  
  <h2>
    <%= t(:label_categories)%>
  </h2>
  <hr class="my-1">
  <div class="categoriesList">
    <% @categories.each do |category| %>
    <div id="category_id_<%= category.id %>" >
      <%= render 'shared/category_row' ,category: category %>
    </div>
    <% end %>
  </div>
